@import url("https://fonts.googleapis.com/css2?family=Marhey&family=Roboto+Condensed:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --colorBg: #001b2e;
  --colorFont1: #b5c9d7;
  --colorFont2: #ffff;
  --color2: #294c60;
  --color1: #ffc49b;
}
body {
  background-color: var(--colorBg);
  color: var(--colorFont1);
}
header {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--colorFont1);
  background-color: var(--color2);
  height: 7vh;
  display: grid;
  grid-template-columns: 10% 78%;
  justify-items: center;
}
/* header > nav {
} */
header > span {
  display: flex;
  justify-items: center;
  align-items: center;
}
nav > ul {
  list-style: none;
  display: flex;
}
nav > ul > * {
  margin: 10px;
  font-size: 15pt;
  transition: 0.3s;
}
nav > ul > *:hover {
  position: sticky;
  cursor: pointer;
  opacity: 0.7;
  border-bottom: solid 1px;
}
main {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  min-height: 100vh;
}
.section1 {
  width: 98vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#card__welcome {
  display: block;
  max-width: 350px;
  min-height: 330px;
  background-color: var(--color2);
  border: solid #0a4d7a;
  padding: 65px;
  border-radius: 0 50% 0 50%;
}
#card__welcome > h1 {
  margin-bottom: 10px;
}
#car1 {
  aspect-ratio: 1/1;
  max-height: 500px;
}
.section2 {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
#products > div {
  margin: 20px;
}

#products::-webkit-scrollbar {
  width: 12px;
}

#products::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#products::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}
footer {
  background-color: var(--color2);
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  min-height: 5vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: static !important;
}
