body {
  background-image: url(../img/first.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login-form {
  background-color: var(--color2);
  color: var(--colorFont2);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadowColor);
  font-family: "Roboto Condensed", sans-serif;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  border: 1px solid var(--colorFont1);
  border-radius: 5px;
  background-color: var(--colorBg);
  color: var(--colorFont1);
}

.form-group input:focus {
  border-color: var(--color1);
  outline: none;
  box-shadow: 0 0 5px var(--color1);
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--color1);
  color: var(--color2);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: var(--color2);
  color: var(--color1);
  border-style: solid;
  border-color: var(--color1);
  border-width: 0.8px;
}
