header {
  font-family: 'Readex Pro', serif;
  color: var(--colorFont1);
  /* background-color: var(--color2); */
  background-color: #032034;
  height: 7vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header > span {
  display: flex;
  align-items: center;
}

header > .logo {
  justify-self: start;
  display: flex;
  align-items: center;
}

.authBtn {
  margin: 0 10px;
  padding: 10px 20px;
  /* color: #33393c; */
  /* background-color: #cdd2d6; */
  text-decoration: none;
  border-radius: 20px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px; /* Add padding to make space for the icon */
}
.authBtn:nth-of-type(1) {
  border: solid #cdd2d6;
  background: none;
}
.authBtn:nth-of-type(2) {
  background: red;
}
.authBtn:hover {
  background-color: #b0b7bc;
  color: #fff;
}

.authBtn svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

a {
  text-decoration: none !important;
  color: inherit;
}

nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

nav > ul > li {
  margin: 0 15px;
}

nav > ul > li > a {
  color: var(--colorFont1);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav > ul > li > a:hover {
  color: var(--colorAccent);
  opacity: 0.8;
}
