@import url("https://fonts.googleapis.com/css2?family=Marhey&family=Roboto+Condensed:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --colorBg: #000c15;
  --colorFont1: #b5c9d7;
  --colorFont2: #ffff;
  --color2: #294c60;
  --color1: #ffc49b;
}
body {
  background-color: var(--colorBg);
  color: var(--colorFont1);
  scroll-behavior: smooth;
}
header {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--colorFont1);
  background-color: var(--color2);
  height: 7vh;
  display: grid;
  grid-template-columns: 15% 73% 12%;
  justify-items: center;
}
/* header > nav {
} */
header > span {
  display: flex;
  justify-items: center;
  align-items: center;
}
.authBtn {
  margin: 0 10px 0 10px;
  padding: 10px;
  color: #33393c;
  background-color: #cdd2d6;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.authBtn:hover {
  opacity: 0.8;
}
nav > ul {
  list-style: none;
  display: flex;
}
nav > ul > * {
  margin: 10px;
  font-size: 15pt;
  transition: 0.3s;
}
nav > ul > *:hover {
  position: sticky;
  cursor: pointer;
  opacity: 0.7;
  border-bottom: solid 1px;
}
main {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.section1 {
  width: 98vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#card__welcome {
  display: block;
  max-width: 350px;
  min-height: 330px;
  background-color: var(--color2);
  border: solid #0a4d7a;
  padding: 65px;
  border-radius: 0 50% 0 50%;
}
#card__welcome > span {
  font-size: 12pt;
}
#card__welcome > h1 {
  font-size: 30pt;
  margin-bottom: 10px;
}
#car1 {
  aspect-ratio: 1/1;
  max-height: 500px;
  min-width: 500px;
}
.Separator {
  margin-top: 80px;
  font-size: 25pt;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  padding: 5px;
  border: solid 5px var(--color2);
}
.Separator::after {
  text-align: center;
  font-size: smaller;
  content: "●";
}
.Separator::before {
  text-align: center;
  font-size: smaller;
  content: "●";
}
.section2 {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 70%;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  background-image: linear-gradient(to top, #ddd 0%, #ccc 50%, #ddd 100%);
  border-radius: 5px;
}

#products > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
#product {
  display: flex;
  justify-content: center;
  /* border: solid var(--color2); */
  transition: 0.3s ease;
  margin-bottom: 20px;
}
#products > div > img {
  position: relative;
  height: 200px;
}
#car__img {
  transition: 0.3s ease;
}
#car__img > img {
  height: 200px;
  border: solid var(--color2);
}
#product:hover {
  /* margin: 0; */
}
#product:hover > #car__img {
  opacity: 0.5;
  transition: 0.3s;
}
#Car__name {
  color: var(--colorFont2);
  display: none;
}
#product:hover > #Car__name {
  display: inline;
  position: sticky;
  bottom: 50%;
}
.section3 {
  background-image: url(../img/carBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99vw;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  background-color: #13151e;
  display: block;
  width: 400px;
  height: 330px;
  border: solid #0a4d7a;
  padding: 65px;
  border-radius: 5rem;
}
.card > h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 19pt;
  margin-bottom: 10px;
}
.card > p {
  font-family: "Fira Sans", sans-serif;
}
.section4 {
  background-image: url(../img/contactImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99vw;
  min-height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: var(--colorBg);
  width: 285px;
  height: 240px;
  border: solid #0a4d7a;
  padding: 0px;
  border-radius: 2rem;
}
.contact-card > p {
  font-size: 15pt;
}
.contact-card > svg {
  scale: 2.5;
  padding: 50px;
}
footer {
  background-color: var(--color2);
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  min-height: 5vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: static !important;
}
