@import url("https://fonts.googleapis.com/css2?family=Marhey&family=Roboto+Condensed:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --colorBg: #000c15;
  --colorFont1: #b5c9d7;
  --colorFont2: #ffff;
  --color2: #294c60;
  --color1: #fff8eb;
  --colorError: #ff6b6b;
  --shadowColor: rgba(0, 0, 0, 0.2);
}
header {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--colorFont1);
  background-color: var(--color2);
  height: 7vh;
  display: grid;
  grid-template-columns: 15% 73% 12%;
  justify-items: center;
}

header > span {
  display: flex;
  justify-items: center;
  align-items: center;
}
.authBtn {
  margin: 0 10px 0 10px;
  padding: 10px;
  color: #33393c;
  background-color: #cdd2d6;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.authBtn:hover {
  opacity: 0.8;
}
a {
  text-decoration: none !important;
  color: inherit;
}
nav > ul {
  list-style: none;
  display: flex;
}
nav > ul > * {
  margin: 10px;
  font-size: 15pt;
  transition: 0.3s;
}
nav > ul > *:hover {
  position: sticky;
  cursor: pointer;
  opacity: 0.7;
  border-bottom: solid 1px;
}
